@model IndexOutputModel

<section class="hero-area">
    <div class="hero-slides owl-carousel">
        <div class="single-hero-slide bg-img" style="background-image: url(../img/bg-img/bg1.jpg);">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="hero-slides-content" data-animation="fadeInUp" data-delay="100ms">
                            <h2 data-animation="fadeInUp" data-delay="300ms">Кулинарни пътешествия!</h2>
                            <p data-animation="fadeInUp" data-delay="700ms">Направи кулинарно пътешествие с нашето разнообразие от вдъхновяващи рецепти за всяко настроение и вкус.</p>
                            <a asp-controller="Recipes" asp-action="All" class="btn delicious-btn" data-animation="fadeInUp" data-delay="1000ms">Виж всички</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="single-hero-slide bg-img" style="background-image: url(../img/bg-img/bg6.jpg);">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="hero-slides-content" data-animation="fadeInUp" data-delay="100ms">
                            <h2 data-animation="fadeInUp" data-delay="300ms">Вкусове от целия свят!</h2>
                            <p data-animation="fadeInUp" data-delay="700ms">Открий вкусове от цял ​​свят с нашето приложение за рецепти и кулинарни идеи.</p>
                            <a asp-controller="Recipes" asp-action="All" class="btn delicious-btn" data-animation="fadeInUp" data-delay="1000ms">Виж всички</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="single-hero-slide bg-img" style="background-image: url(../img/bg-img/bg7.jpg);">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="hero-slides-content" data-animation="fadeInUp" data-delay="100ms">
                            <h2 data-animation="fadeInUp" data-delay="300ms">Изследвай кулинарния свят!</h2>
                            <p data-animation="fadeInUp" data-delay="700ms">Изследвай света на кулинарията с нашето разнообразие на рецепти!</p>
                            <a asp-controller="Recipes" asp-action="All" class="btn delicious-btn" data-animation="fadeInUp" data-delay="1000ms">Виж всички</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about-area">
    <div class="container">
        <div class="row align-items-center mt-70">
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-cool-fact">
                    <img src="~/img/core-img/salad.png" alt="">
                    <h3><span class="counter">@Model.TotalSalads</span></h3>
                    <h6>Салати</h6>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-cool-fact">
                    <img src="~/img/core-img/hamburger.png" alt="">
                    <h3><span class="counter">@Model.TotalStarters</span></h3>
                    <h6>Предястия</h6>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-cool-fact">
                    <img src="~/img/core-img/rib.png" alt="">
                    <h3><span class="counter">@Model.TotalMainDishes</span></h3>
                    <h6>Основни</h6>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-cool-fact">
                    <img src="~/img/core-img/pancake.png" alt="">
                    <h3><span class="counter">@Model.TotalDesserts</span></h3>
                    <h6>Десерти</h6>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="best-receipe-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading">
                    <h3>Последно добавени</h3>
                </div>
            </div>
        </div>

        <div class="row">
            @foreach (var recipe in Model.LastThree)
            {
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-best-receipe-area mb-30">
                        <img src="@recipe.ImageUrl" alt="Снимка на рецептата">
                        <div class="receipe-content">
                            <a href="receipe-post.html">
                                <h5>@recipe.Title</h5>
                            </a>
                            <div class="post-options">
                                <span class="post-likes"><i class="fa-solid fa-heart"></i> 25</span>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<section class="cta-area bg-img bg-overlay" style="background-image: url(../img/bg-img/bg4.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="cta-content text-center">
                    <h2>Започни кулинарното си пътешествие сега!</h2>
                    <a asp-controller="Recipes" asp-action="All" class="btn delicious-btn">Виж всички рецепти</a>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="contact-information-area section-padding-80">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading">
                    <h3>Контакти</h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="contact-text">
                    <p>Не се колебай да се свържеш с нас, при всякакви въпроси, предложения или коментари. Винаги сме на разположение за нашите посетители-любители на вкусната храна!</p>
                </div>
            </div>

            <div class="col-12 col-lg-4">
                <div class="single-contact-information mb-30">
                    <h6>Имейл:</h6>
                    <p>cookingtime@gmail.com</p>
                </div>
                <div class="single-contact-information mb-30">
                    <h6>Адрес:</h6>
                    <p>ул. "Сан Стефано" №1, град Пазарджик</p>
                </div>
            </div>
        </div>
    </div>
</div>
    
<div class="map-area">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2956.2241144413147!2d24.326558175798308!3d42.18827537120936!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14aca55433b558db%3A0x4aac64eb695300eb!2sPazardzhik%20Center%2C%20ul.%20%22San%20Stefano%22%201%2C%204400%20Pazardzhik!5e0!3m2!1sen!2sbg!4v1710466184581!5m2!1sen!2sbg" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>