@model CookingTime.Models.Recipes.RecipesListingOutputModel

<div class="breadcumb-area bg-img bg-overlay" style="background-image: url(../img/static/breadcrumbs/breadcrumb2.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcumb-text text-center">
                    <h2>@Model.ListName</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="blog-area section-padding-80">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="blog-posts-area">
                    @foreach (var recipe in Model.Recipes)
                    {
                        <div class="single-blog-area mb-80">
                            <div class="blog-thumbnail">
                                <img src="@recipe.ImageUrl" alt="Снимка на рецепта">
                                <div class="post-date">
                                    @{
                                        var month = recipe.CreatedOn.Month switch
                                        {
                                            1 => "Януари",
                                            2 => "Февруари",
                                            3 => "Март",
                                            4 => "Април",
                                            5 => "Май",
                                            6 => "Юни",
                                            7 => "Юли",
                                            8 => "Август",
                                            9 => "Септември",
                                            10 => "Октомври",
                                            11 => "Ноември",
                                            12 => "Декември",
                                            _ => ""
                                            };
                                    }

                                    <a href="#"><span>@recipe.CreatedOn.Day </span>@month <br> @recipe.CreatedOn.Year</a>
                                </div>
                            </div>
                            <div class="blog-content">
                                <a asp-action="Details" asp-route-id="@recipe.Id" class="post-title">@recipe.Title</a>
                                <div class="meta-data">
                                    качено от @recipe.User.FirstName @recipe.User.LastName
                                </div>
                                <p>@recipe.ShortDescription</p>
                                <div class="row post-options">
                                    <div class="d-flex">
                                        <a asp-action="Details" asp-route-id="@recipe.Id" class="btn delicious-btn btn-4 mr-15">Виж детайли</a>
                                        @if (this.User.IsInRole("Administrator"))
                                        {
                                            <a asp-action="Edit" asp-route-id="@recipe.Id" class="btn delicious-btn mr-15">Редактирай</a>
                                            
                                            <form method="post" asp-action="Delete" asp-route-id="@recipe.Id">
                                                <button type="submit" class="btn delicious-btn btn-3 mr-15"> Изтрий</button>
                                            </form>
                                        }
                                    </div>

                                    <span class="post-likes"><i class="fa-solid fa-heart"></i> @recipe.LikesCount</span>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

            <div class="col-12 col-lg-4">
                <div class="blog-sidebar-area">

                    <div class="single-widget mb-80">
                        <h6>Категории</h6>
                        <ul class="list">
                            <li><a asp-action="All">Всички</a></li>
                            <li><a asp-action="Salads">Салати</a></li>
                            <li><a asp-action="Starters">Предястия</a></li>
                            <li><a asp-action="MainDishes">Основни</a></li>
                            <li><a asp-action="Desserts">Десерти</a></li>
                        </ul>
                    </div>

                    <div class="single-widget mb-80">
                        <div class="quote-area text-center">
                            <span>"</span>
                            <h4>Няма любов, <br/> по-искрена от любовта към храната.</h4>
                            <span>"</span>
                            <p>Джордж Бърнард Шоу</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>