@using CookingTime.Data.Enums
@model CookingTime.Models.Recipes.RecipeDetailsOutputModel

<div class="receipe-post-area section-padding-40">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="receipe-slider owl-carousel">
                    <img src="@Model.ImageUrl" alt="Снимка на рецептата">
                </div>
            </div>
        </div>
    </div>

    <div class="receipe-content-area">
        <div class="container">

            <div class="row">
                <div class="col-12 col-md-8">
                    <div class="receipe-headline my-5">
                        @if ((DateTime.Now.Date - Model.CreatedOn.Date).Days == 0)
                        {
                            <span>@Model.CreatedOn.ToString("dd. MM. yyyy") г. (Качено днес)</span>
                        }
                        else if ((DateTime.Now.Date - Model.CreatedOn.Date).Days == 1)
                        {
                            <span>@Model.CreatedOn.ToString("dd. MM. yyyy") г. (Качено вчера)</span>
                        }
                        else
                        {
                            <span>@Model.CreatedOn.ToString("dd. MM. yyyy") г. (Качено преди @((DateTime.Now.Date - Model.CreatedOn.Date).Days) дни)</span>
                        }
                        <h2>@Model.Title</h2>
                        <div class="receipe-duration">
                            @if (Model.Type == RecipeType.Salad)
                            {
                                <h6>Категория: <a asp-action="Salads">Салата</a></h6>
                            }
                            @if (Model.Type == RecipeType.Starter)
                            {
                                <h6>Категория: <a asp-action="Starters">Предястие</a></h6>
                            }
                            @if (Model.Type == RecipeType.MainDish)
                            {
                                <h6>Категория: <a asp-action="MainDishes">Основно ястие</a></h6>
                            }
                            @if (Model.Type == RecipeType.Dessert)
                            {
                                <h6>Категория: <a asp-action="Desserts">Десерт</a></h6>
                            }
                            <h6>Готвене: @Model.PreparationTime часа</h6>
                            <h6>Порции: @Model.Portions</h6>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-4">
                    <div class="text-right my-5">
                        <div class="row receipe-options">
                            @if (this.User.Identity.IsAuthenticated)
                            {
                                @if (!Model.IsFavorite)
                                {
                                    <form class="m-5" method="post" asp-action="AddToFavorites" asp-route-id="@Model.Id">
                                        <button type="submit" class="btn delicious-btn btn-4 like-btn"><i class="fa-regular fa-heart"></i> @Model.LikesCount</button>
                                    </form>
                                }

                                @if (Model.IsFavorite)
                                {
                                    <form class="m-5" method="post" asp-action="RemoveFromFavorites" asp-route-id="@Model.Id">
                                        <button type="submit" class="btn delicious-btn"><i class="fas fa-heart"></i> @Model.LikesCount</button>
                                    </form>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-50">
                <div class="col-12 col-lg-8" style="overflow: hidden">
                    @Model.Content
                </div>

                <div class="col-12 col-lg-4">
                    <div class="ingredients">
                        <h4>Необходими съставки</h4>
                        @foreach (var ingredient in Model.Ingredients.Split(",").Select(i => i.Trim()))
                        {
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="@ingredient">
                                <label class="custom-control-label" for="@ingredient">@ingredient</label>
                            </div>
                        }
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-left">
                        <h3>Коментари (@Model.Comments.Count)</h3>
                    </div>
                    
                    @if (this.User.Identity.IsAuthenticated)
                    {
                        <div class="contact-form-area">
                            <form asp-action="Comment" method="post">
                                <div class="row">
                                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                    <div class="col-12">
                                        <input asp-for="Id" class="form-control" type="hidden" />
                                        <textarea asp-for="CommentContent" class="form-control" cols="30" rows="10" placeholder="Може да споделиш своите впечатления относно рецептата тук..."></textarea>
                                        <span asp-validation-for="CommentContent" class="text-danger"></span>
                                    </div>
                                    <div class="col-12">
                                        <button class="btn delicious-btn mt-30" type="submit">Изпрати</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    }

                    <div class="blog-posts-area">
                        @foreach (var comment in Model.Comments)
                        {
                            <div class="single-blog-area">
                                <div class="blog-content">
                                    <a href="#" class="post-title">@comment.User.FirstName @comment.User.LastName</a>
                                    <div class="meta-data">@comment.CreatedOn.ToString("dd. MM. yyyy") г.</div>
                                    <p>@comment.Content</p>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}